.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.column_small {
  float: left;
  width: 20%;
  margin: 2.5%;
}

.column_big {
  float: left;
  width: 65%;
}

.left_margin {
    margin: 25px
}
